@model IEnumerable<Private_Note.Models.Files>
@{
    ViewData["Title"] = "Index";
    var WordFiles = Model.Where(f => f.FileType == ".txt" ||
                                      f.FileType == ".pdf" ||
                                      f.FileType == ".docx" ||
                                      f.FileType == ".doc");
    var ImageFiles = Model.Where(f => f.FileType == ".png" ||
                                      f.FileType == ".jpg" ||
                                      f.FileType == ".jpeg" ||
                                      f.FileType == ".pptx");
}


<div class="container p-3">
    <div class="col-6">
        <h2 class="text-primary">All Word Files</h2>
    </div>
    @if (WordFiles.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        File Type
                    </th>
                    <th>
                        CreatedDate
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in WordFiles)
                {
                    <tr>
                        <td width="50%">@obj.FileName</td>
                        <td width="30%">@obj.FileType</td>
                        <td width="40%">@obj.CreatedDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No File exist</p>
    }

    <div class="col-6">
        <h2 class="text-primary">All Image Files</h2>
    </div>
    @if (ImageFiles.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        File Type
                    </th>
                    <th>
                        CreatedDate
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in ImageFiles)
                {
                    <tr>
                        <td width="50%">@obj.FileName</td>
                        <td width="30%">@obj.FileType</td>
                        <td width="40%">@obj.CreatedDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No File exist</p>
    }
    <div class="col-md-5">
        <form id="FileUpload">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload file</p>
                    <input id="file" class="form-control" name="file" type="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>
        <form id="FileDownload">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Download file</p>
                        <input id="FileName" name="FileName" type="text" placeholder="File Name" />
                    </div>
                    <div class="col-md-10">
                        <input id="FileExtension" name="FileExtension" type="text" placeholder="File Type(ie. txt, pptx, pdf ...)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Download" />
                </div>
            </div>
        </form>
        <form id="FileDelete">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <p>Delete file</p>
                        <input id="FileName" name="FileName" type="text" placeholder="File Name" />
                        <input id="FileExtension" name="FileExtension" type="text" placeholder="File Type(ie. txt, pptx, pdf ...)" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Delete" />
                </div>
            </div>
        </form>
        <form id="ChangeSecretPasswordForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Change Secret Password</p>
                        <input id="secretPassword" name="secretPassword" type="text" placeholder="Secret Password" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Change Secret Password" />
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    <script>
        $("#FileUpload").submit(function (e) {
            e.preventDefault();
            var fdata = new FormData();
            var fileInput = $('#file')[0];
            var file = fileInput.files[0];
            fdata.append("file", file);
            $.ajax({
                type: "POST",
                url: "/UserHome/FileUpload",
                data: fdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(successResponse);
                    toastr.success(successResponse);
                },
                error: function (data) {
                    toastr.error("File Upload Unsuccessful");
                }
            });
        });
        $("#FileDownload").submit(function (e) {
            e.preventDefault();
            var FileName = $("#FileName").val();
            var FileExtension = $("#FileExtension").val();
            $.ajax({
                type: "POST",
                url: "/UserHome/FileDownloadCheck",
                data: {
                    "FileName": FileName,
                    "FileExtension": FileExtension,
                },
                success: function (successResponse) {
                    //console.log(successResponse);
                    toastr.success("File Download Successful");
                    $("#FileName").val("");
                    $("#FileExtension").val("");
                    window.location.href = "/UserHome/FileDownload?FileName=" + FileName
                        + "&FileExtension=" + FileExtension;
                },
                error: function (jqXHR) {
                    console.log(jqXHR.responseText);
                    toastr.error(jqXHR.responseText);
                }
            });
        });
        $("#FileDelete").submit(function (e) {
            e.preventDefault();
            var FileName = $("#FileName").val();
            var FileExtension = $("#FileExtension").val();
            $.ajax({
                type: "POST",
                url: "/UserHome/FileDelete",
                data: {
                    "FileName": FileName,
                    "FileExtension": FileExtension,
                },
                success: function (successResponse) {
                    console.log(successResponse);
                    toastr.success(successResponse);
                    $("#FileName").val("");
                    $("#FileExtension").val("");
                },
                error: function (errorResponse) {
                    toastr.error("File Delete Unsuccessful");
                }
            });
        });
        $("#ChangeSecretPasswordForm").submit(function (e) {
            e.preventDefault();
            var secretPassword = $("#secretPassword").val();
            $.ajax({
                type: "POST",
                url: "/UserHome/ChangeSecretPassword",
                data: { "secretPassword": secretPassword },
                success: function (successResponse) {
                    toastr.success(successResponse);
                    $("#secretPassword").val("");
                },
                error: function (errorResponse) {
                    toastr.error("Secret Password Change Unsuccessful");
                }
            });
        });
    </script>
}